body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
  font-style: italic;
}

.nav-link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-soc-link {
}

/* Main Section */
.main {
  background-color: rgba(17, 17, 17, 0.6);
}

.main-heading {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.main-button {
  color: #fff;
  background-color: #fd9222;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.main-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.main-scroll {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
}

/* Description */
.description {
  background-color: #1e1823;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.description-paragraf {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

/* Section Taste */
.taste-heading {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.taste-text {
  color: #fd9222;
}

.taste-list-orange {
  background-color: #fd9222;
}

.taste-list-white {
  background-color: #fff;
}

.taste-list-black {
  background-color: #1e1823;
}

.taste-title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.taste-title-black {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* Section How it’s made */
.how-made-heading {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.how-made-text {
  color: #fd9222;
}

.how-made-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.how-made-paragraf {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
