body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 14px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
}

.header-logo-italic {
  font-style: italic;
}

.nav-list {
  display: none;
}

.nav-items {
}

.nav-link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-soc-list {
  display: none;
}
.header-soc-items {
}
.header-soc-link {
}

.open-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.open-button-icon {
  fill: transparent;
  stroke: #111111;
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  display: flex;
  z-index: 1;
  flex-direction: column;
  width: 220px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #1e1823;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-bottom: 88px;
}

.close-button-icon {
  fill: transparent;
  stroke: #ffffff;
}
.mobile-menu-nav {
}
.mobile-menu-list {
}
.mobile-menu-items:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.mobile-soc-list {
  display: flex;
  margin-top: auto;
  gap: 14px;
}
.mobile-soc-items {
}
.mobile-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
}

.mobile-soc-icon {
  fill: #ffffff;
}

/* Main section */

.main-container {
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/background-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 395px 20px 20px 20px;
  margin-bottom: 80px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/background-mob-2x.jpg);
  }
}

.main-heading {
  width: 299px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.main-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 32px;
}

.main-button {
  display: flex;
  font-style: inherit;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: transparent;
  background-color: #fd9222;
  padding: 12px 28px;
  margin-right: 14px;
}

.main-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 12px 28px;
}

.main-scroll {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  gap: 12px;
}

.main-scroll::after {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url(../images/icons.svg#icon-scroll);
  border-radius: 50%;
  color: #fd9222;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

/* Description */

.description-container {
  width: 375px;
  background-color: #1E1823;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.description-title {
  color: #FFF;
font-size: 18px;
font-weight: 600;
line-height: normal;
margin-bottom: 18px;
}

.description-paragraf {
  width: 308px;
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

/* Section Taste */

.taste-container {
padding-top: 80px;
}

.taste-heading {
  color: #111;
text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -0.03em;
text-transform: uppercase;
margin-bottom: 32px;
}


.span-text {
  color: #FD9222;
}


.taste-item {
  border-radius: 15px;
  padding: 28px;
}

.taste-item img {
  width: 100%;
  margin: 0 auto;
}

.taste-item:not(:nth-child(-n + 4)) {
  display: none;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.taste-item:nth-child(even) {
  border: 1px solid #fd9222;
  background-color: #fff;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823; 
}


.taste-subtitle {
  color: #111;
font-size: 14px;
font-weight: 600;
line-height: 1.29;
letter-spacing: -0.02em;
text-transform: uppercase;
}

.taste-item:nth-child(odd) .taste-subtitle {
  color: #ffffff;
}

/* Section How it’s made */

.made-container {
  padding-top: 75px;
}

.made-heading {
  color: #111;
text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -0.03em;
text-transform: uppercase;
margin-bottom: 32px;
}
.span-text {
}
.made-subtitle {
  color: #111;
font-size: 18px;
font-weight: 600;
line-height: 1.33;
}
.made-list {
}
.made-items {
  margin-bottom: 18px;
  padding-left: 16px;
  position: relative;
}

.made-items::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
}
.made-paragraf {
  color: #111;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;
}

/* Media */

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    
  }

  .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav {
    justify-content: space-between;
    flex-grow: 1;
  }

  .nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .nav-list {
    margin-right: 28px;
  }

  .nav-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02px;
    padding: 10px 0;
    transition: color 300ms linear;
  }

  .nav-link:hover,
  .nav-list:focus {
    color: #fd9222;
  }

  .header-soc-list {
    display: flex;
    gap: 14px;
  }

  .header-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    padding: 8px;
  }

  .header-soc-link:hover,
  .header-soc-link:focus {
    border-color: #fd9222;
  }

  .header-soc-link:hover .header-soc-icon,
  .header-soc-link:focus .header-soc-icon {
    fill: #fd9222;
  }

  .open-menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .main-container {
    padding: 671px 40px 40px;
  }

  .main-heading {
    width: 484px;
    font-size: 28px;
    
  }

  .main-scroll {
    margin-left: auto;
  }

  .description-container {
    width: 768px;
    padding: 50px 32px;
  }

.dedication-list {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 88px;
}

.description-items {
  width: calc((100% - 88px) / 2);
}

.taste-heading {
  width: 411px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 1.17;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.taste-item {
  width: calc((100% - 32px) / 2);
}

.taste-item:not(:nth-child(-n + 4)) {
  display: block;
}
}


@media screen and (max-width: 767px) {
  .taste-item:not(:last-child) {
    margin-bottom: 20px;
  }
  
}



@media screen and (min-width: 1200px) {
  .container {
    max-width: 1136px;
  }

  .nav-list {
    margin-right: 90px;
  }

  .description-container{
    width: 1200px;
    padding: 50px;
  }

  .dedication-list {
    flex-wrap: nowrap;
    gap: 88px;
  }

  .description-items {
    width: 308px;
    position: relative;
    padding-right: 28px;
  }

  .description-items:not(:last-child)::after {
    content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 124px;
  width: 1px;
  right: -44px;
  background: rgba(255, 255, 255, 0.5);
  }

  .taste-item {
    width: calc((100% - 96px) / 4);
  }
}
