body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 14px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
}

.header-logo-italic {
  font-style: italic;
}

.nav-list {
  display: none;
}

.nav-items {
}

.nav-link {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-soc-list {
  display: none;
}
.header-soc-items {
}
.header-soc-link {
}

.open-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.open-button-icon {
  fill: transparent;
  stroke: #111111;
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  display: flex;
  z-index: 1;
  flex-direction: column;
  width: 220px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #1e1823;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-bottom: 88px;
}

.close-button-icon {
  fill: transparent;
  stroke: #ffffff;
}
.mobile-menu-nav {
}
.mobile-menu-list {
}
.mobile-menu-items:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.mobile-soc-list {
  display: flex;
  margin-top: auto;
  gap: 14px;
}
.mobile-soc-items {
}
.mobile-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
}

.mobile-soc-icon {
  fill: #ffffff;
}

/* Main section */

.main-container {
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/background-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 395px 20px 20px 20px;
  margin-bottom: 80px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/background-mob-2x.jpg);
  }
}

.main-heading {
  width: 299px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.main-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 32px;
}

.main-button {
  display: flex;
  font-style: inherit;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: transparent;
  background-color: #fd9222;
  padding: 12px 28px;
  margin-right: 14px;
  transition: background-color 300ms linear,
  color 300ms linear;
}

.main-button:hover, .main-button:focus {
  background-color: #FCF1E0;
  color: #fd9222;
}

.main-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 12px 28px;
  transition: border-color 300ms linear,
  color 300ms linear;
}

.main-link:hover, .main-link:focus {
  border-color: #fd9222;
  color: #fd9222;
}

.main-scroll {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  gap: 12px;
  transition: color 300ms linear;
}

.main-scroll::after {
  content: "";
  width: 28px;
  height: 28px;
  background-image: url(../images/icons.svg#icon-scroll);
  border-radius: 50%;
  color: #fd9222;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: background-color 300ms linear;
}

.main-scroll:hover, .main-scroll:focus {
  color: #fd9222;
}

.main-scroll:hover::after, .main-scroll:focus::after {
  background-color: #fd9222;
}

/* Description */

.description-container {
  width: 375px;
  background-color: #1e1823;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.description-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.description-paragraf {
  width: 308px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.description-icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
}

/* Section Taste */

.taste-container {
  padding-top: 80px;
}

.taste-heading {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.span-text {
  color: #fd9222;
}

.taste-item {
  border-radius: 15px;
  padding: 28px;
}

.taste-item img {
  width: 100%;
  margin: 0 auto;
}

.taste-item:not(:nth-child(-n + 4)) {
  display: none;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.taste-item:nth-child(even) {
  border: 1px solid #fd9222;
  background-color: #fff;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.taste-item:nth-child(odd) .taste-subtitle {
  color: #ffffff;
}

/* Section How it’s made */

.made-container {
  padding-top: 75px;
}

.made-heading {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.made-wrap {
  border-radius: 15px;
  background: #fff;
  padding: 20px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.made-list {
}
.made-items {
  margin-bottom: 18px;
  padding-left: 16px;
  position: relative;
}

.made-items::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
}
.made-paragraf {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Our products */

.products-container {
  padding-top: 80px;
}
.container {
}
.products-title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.products-list {
}
.products-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  padding: 32px 52px;
}

.products-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-paragraf {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.products-text {
  display: block;
  width: 94px;
  color: #111;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fafafa;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

/* Top sellers */

.sellers-container {
  padding-top: 80px;
}

.sellers-title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.sellers-list {
}

.sellers-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Chocolate is loved */

.loved-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.loved-title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 74px;
}

.loved-list {
  margin-bottom: 32px;
}
.loved-item img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.loved-item {
  position: relative;
}

.loved-wrap {
  height: 200px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  padding-top: 56px;
  padding-bottom: 42px;
  padding: 56px 18px 26px;
}

.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 24px;
}
.loved-paragraf {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.loved-button {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background-color: transparent;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 300ms linear;
}

.loved-button:hover, .loved-button:focus {
  background-color: #fd9222;
  color: #ffffff;
}

/* Footer */

.footer-container {
  padding: 32px 20px;
  background-color: #1e1823;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.footer-title {
  width: 300px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.footer-social-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-social-list {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
}
.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
  transition: border-color 300ms linear;
}

.footer-social-item:hover,
.footer-social-item:focus {
  border-color: #fd9222;
}

.footer-social-item:hover .footer-social-icon,
.footer-social-item:focus .footer-social-icon {
  fill: #fd9222;
}
.footer-social-link {
}
.footer-social-icon {
  fill: #fff;
}
.footer-address-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.footer-phone {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.footer-email {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.footer-nav {
}

.footer-nav-item {
}
.footer-nav-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 300ms linear;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}
.footer-form {
  display: flex;
}
.footer-form-label {
}
.footer-form-input {
  width: 207px;
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  padding: 14px 18px;
  margin-right: 8px;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}
.footer-form-button {
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 14px 26px;
  transition: color 300ms linear, background-color 300ms linear;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

/* Media */

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .nav-list {
    display: flex;
    gap: 20px;
  }

  .nav {
    justify-content: space-between;
    flex-grow: 1;
  }

  .nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .nav-list {
    margin-right: 28px;
  }

  .nav-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02px;
    padding: 10px 0;
    transition: color 300ms linear;
  }

  .nav-link:hover,
  .nav-list:focus {
    color: #fd9222;
  }

  .header-soc-list {
    display: flex;
    gap: 14px;
  }

  .header-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    padding: 8px;
    transition: border-color 300ms linear;
  }

  .header-soc-link:hover,
  .header-soc-link:focus {
    border-color: #fd9222;
  }

  .header-soc-link:hover .header-soc-icon,
  .header-soc-link:focus .header-soc-icon {
    fill: #fd9222;
  }

  .open-menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .main-container {
    padding: 671px 40px 40px;
  }

  .main-heading {
    width: 484px;
    font-size: 28px;
  }

  .main-scroll {
    margin-left: auto;
  }

  .description-container {
    width: 768px;
    padding: 50px 32px;
  }

  .dedication-list {
    display: flex;
    flex-wrap: wrap;
    gap: 44px 88px;
  }

  .description-items {
    width: calc((100% - 88px) / 2);
  }

  .taste-heading {
    width: 411px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    line-height: 1.17;
  }

  .taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .taste-item:not(:nth-child(-n + 4)) {
    display: block;
  }

  .made-wrap {
    padding: 32px;
  }

  .products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }

  .sellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .sellers-item {
    width: calc((100% - 16px) / 2);
  }

  .sellers-item:last-child {
    display: none;
  }

  .loved-item:last-child {
    display: none;
  }

  .loved-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .loved-item {
    width: calc((100% - 16px) / 2);
  }

  .loved-button {
    font-size: 18px;
    padding: 14px 40px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 768px;
    padding: 50px 32px;
  }

  .footer-title {
    margin-right: 52px;
  }

  .footer-top {
    display: flex;
  }

  .footer-address-wrap {
margin-left: auto;
  }

  .footer-social-wrap {

  }

  .footer-bottom {
    display: flex;

  }

  .footer-nav-list {
    display: flex;
    gap: 16px;
  }

  .footer-form {
    margin-left: auto;
  }

  .footer-form-input {
    width: 233px;
  }
}

@media screen and (max-width: 767px) {
  .taste-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .sellers-item:not(:first-child) {
    display: none;
  }

  .products-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .loved-item:not(:first-child) {
    display: none;
  }

  .footer-nav-item:not(:last-child) {
    margin-bottom: 18px;
  }

  .footer-nav-list {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1136px;
  }

  .nav-list {
    margin-right: 90px;
  }

  .description-container {
    width: 1200px;
    padding: 50px;
  }

  .dedication-list {
    flex-wrap: nowrap;
    gap: 88px;
  }

  .description-items {
    width: 308px;
    position: relative;
    padding-right: 28px;
  }

  .description-items:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 124px;
    width: 1px;
    right: -44px;
    background: rgba(255, 255, 255, 0.5);
  }

  .taste-item {
    width: calc((100% - 96px) / 4);
  }

  .made-add-wrap {
    display: flex;
  }

  .made-wrap {
    margin-left: 20px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }

  .sellers-item {
    width: calc((100% - 32px) / 3);
  }

  .sellers-item:last-child {
    display: block;
  }

  .loved-item:last-child {
    display: block;
  }

  .loved-list {
    gap: 28px;
  }

  .loved-item {
    width: calc((100% - 56px) / 3);
  }

  .footer-container {
    width: 1200px;
  }

  .footer-social-wrap {
    margin-left: auto;
  }

  .footer-address-wrap {
    margin-left: 50px;
  }

.footer-form-input {
width: 313px;
}
}

@media screen and (max-width: 1199px) {
  .made-picture {
    margin-bottom: 20px;
  }
}
